/ ============ Contacts Bar - START ============
#contacts-bar.row
		.address.col-md-6
				%strong> BABYLON INK TATTOO - Tattoo Studio
				,  Carrera 45b # 90-210 Local 2 Callejón SAO 93 CC Alkarawi
		.other.col-md-6
				%span.contact
						%i.fa.fa-phone>
						Teléfono:
						%strong (035) 373 9371
				%span.contact
						%i.fa.fa-mobile>
						Celular:
						%strong 301 391 5261
				%span.contact
						%i.fa.fa-envelope>
						Email:
						%a{:href => "mailto:info@babyloninktattoo.com"}
								%strong info@babyloninktattoo.com
/ ============ Contacts Bar - END ============
